*{
    margin: 0;
    padding: 0;
}

table{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    margin: auto;
}

.black{
    background-color: black;
    width: 50px;
}

.white{
    color: white;
}